:root {
  --background-color: #000f2b;
  --text-color: rgb(250, 250, 250);
  --visited-link-color: rgb(130, 130, 130);

  --text-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  :root {
    --text-size: 0.75rem;
  }
}
